{% if correct_password %}
    <div class="terminal p-2 mb-4 rounded">
        <p>Congratulations, you Guessed The Password!</p>
    </div>
    <div class="flex justify-center mt-4">
        <form action="{{ url_for('main.next_level', level=level) }}" method="post">
            <button type="submit" class="bg-pink-600 hover:bg-pink-700 text-white px-4 py-2 rounded">Continue</button>
        </form>
    </div>
    <div class="flex justify-center"></div>
{% else %}
    <form id="password-form" method="post" class="flex items-center mt-4">
        <input type="hidden" name="query" value="/password">
        <input type="text" name="user_password" placeholder="Password" class="w-full bg-gray-700 text-white border border-gray-600 rounded-l px-4 py-2 focus:outline-none">
        <input type="submit" value="Unlock Level" class="bg-pink-600 hover:bg-pink-700 text-white px-4 py-2 rounded-r">
    </form>

    <p id="password-error" class="text-pink-500 mt-2 hidden"></p>
    <div class="terminal p-2 mb-4 rounded hidden" id="password-success">
        <p>Congratulations, you Guessed The Password!</p>
    </div>
    <div id="next-level-container" class="flex justify-center mt-4 hidden">
        <form action="{{ url_for('main.next_level', level=level) }}" method="post">
            <button type="submit" class="bg-pink-600 hover:bg-pink-700 text-white px-4 py-2 rounded">Continue</button>
        </form>
    </div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordForm = document.getElementById('password-form');
        const passwordError = document.getElementById('password-error');
        const passwordSuccess = document.getElementById('password-success');
        const nextLevelContainer = document.getElementById('next-level-container');

        passwordForm.addEventListener('submit', function (event) {
            event.preventDefault(); 

            const formData = new FormData(passwordForm);
            const userPassword = formData.get('user_password');

            fetch(`/validate_password/{{ level }}`, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json()) // Parse the response as JSON
            .then(data => {
                if (data.success) {
                    passwordError.classList.add('hidden');
                    passwordSuccess.classList.remove('hidden');
                    nextLevelContainer.classList.remove('hidden');
                    triggerConfetti();  // Trigger confetti on successful password validation
                } else {
                    passwordError.textContent = data.error;
                    passwordError.classList.remove('hidden');
                    passwordSuccess.classList.add('hidden');
                    nextLevelContainer.classList.add('hidden');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        function createConfetti() {
            const duration = 2 * 1000;
            const animationEnd = Date.now() + duration;
            const defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

            function randomInRange(min, max) {
                return Math.random() * (max - min) + min;
            }

            const interval = setInterval(function() {
                const timeLeft = animationEnd - Date.now();

                if (timeLeft <= 0) {
                    return clearInterval(interval);
                }

                const particleCount = 50 * (timeLeft / duration);
                confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
                confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
            }, 250);
        }

        function triggerConfetti() {
            createConfetti();
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            if (document.getElementById('more-confetti')) {
                document.getElementById('more-confetti').addEventListener('click', triggerConfetti);
            }
        });
    });
</script>
